@font-face {
	 	font-family: thaisanslite_r1 Vera Serif Bold; 
	  src: url(/css/font/thaisanslite_r1.otf) format("truetype");  
	    src: url('/css/font/thaisanslite_r1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/css/font/thaisanslite_r1.woff') format('woff'), /* Modern Browsers */
         url('/css/font/thaisanslite_r1.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/css/font/thaisanslite_r1.svg#svgFontName') format('svg'); /* Legacy iOS */
		 
}
*{
	 font-family: thaisanslite_r1 Vera Serif Bold;
}
a{
	 font-family: thaisanslite_r1 Vera Serif Bold; 
	 text-decoration:none;
}