div.loginForm{
	font-family: thaisanslite_r1 Vera Serif Bold,Serif;
	list-style-type:none;
	float:none;
	width:100%;
	margin: 10px auto;
	z-index:3;
	margin-top:5%;
	
	
}
#formLoginPost table{
	border-radius:5px;
	box-shadow: 0px 0px 5px rgba(71,71,71,1.00); 
}
.loginForm table th{
	padding:10px;
	font-size:30px;
	color:#FFFFFF;
	text-shadow:2px 2px 2px 0px #7A7A7A;
	background-color:#4587B1;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.loginForm table td{
	padding:5px;
	font-size:20px;
}
#results{
		font-family: thaisanslite_r1 Vera Serif Bold,Serif;
		font-weight:900;
	padding:10px;
	font-size:20px;
}
.text1 
{ 
border: 2px solid rgb(173, 204, 204); 
height: 31px; 
width: 223px; 
box-shadow: 0px 0px 27px rgb(204, 204, 204) inset; 
transition:500ms all ease; 
padding:3px 3px 3px 3px; 
} 
 
#username:hover, #username:focus 
{ 
width:223px; 
transition:500ms all ease; 
background:url(../img/user.png) no-repeat right; 
background-size:25px 25px; 
background-position:96% 62%; 
padding:3px 15px 3px 3px; 
} 
#password:hover, #password:focus 
{ 
width:223px; 
transition:500ms all ease; 
background:url(../img/pass.png) no-repeat right; 
background-size:25px 25px; 
background-position:96% 62%; 
padding:3px 15px 3px 3px; 
}

.formInputLogin 
{ 
font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
font-size:18px;
border: 2px solid rgb(173, 204, 204); 
height: 31px; 
width: 223px; 
box-shadow: 0px 0px 27px rgb(204, 204, 204) inset; 
transition:500ms all ease; 
padding:3px 3px 3px 3px; 
}  
.loginFormButtom {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  text-shadow: 1px 1px 1px 2px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #8baec4 2px;
  
}
.loginFormButtom:hover {
	background: #3cb0fd;
	-webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.loginFormButtom:active {
	position:relative;
	top:1px;
}
.loginForm table{
	 margin-right:30px;
}
.loginForm table td{
	 background-color:#EEFAFF;
	 
	 
}
.loginForm table td#tdLast{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
