body{
	background-image:url(../imgs/bg.png);
	background-size:100% 110%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:bottom;
	 -moz-margin-start:0px; 
	 -webkit-margin-start:0px;
	 -moz-margin-end:10px;
	 padding-bottom:30px;
	 width:100%;
	 min-width:1000px;
	
}
strong{
	font-weight:900;
}
.contentbg{
	z-index:90;
	position:relative;
	top:80px;
	bottom:20px;
	margin-left:22%;
	width:76%;
	height:*;
	margin-top:-13px;
	background-color:#BFE4FF;
	opacity:1.0;
	min-height:580px;
	border-radius:5px;
	box-shadow:0px 0px 1px 1px #4A4A4A;
	text-align:center;
	min-width:1000px;
	max-width:1100px;

}
.allContent{
	float:inherit;
	width:100%;
	margin-left:5px;
	margin-right:1%;
	min-width:1000px;
	height:*;
	z-index:49;
}
#footer{
	background-color:#FFFFFF;
	opacity:0.8;
	position:static;
	margin-top:90px;
	padding:15px;
	width:60%;
	min-width:700px;
	margin-left:20%;
	margin-right:20%;
	margin-bottom:0;
	border-radius:5px;
	box-shadow:0px 0px 1px 1px #5C5C5C;
	
}
#footerText{
	font-family: thaisanslite_r1 Vera Serif Bold,Serif;
	font-size:16px;
}
.logoutBt:active {
	position:relative;
	top:1px;
}
#homeLoginBody{
	overflow:hidden;
}
#footerLoaginLoginHome{

	background-color:#FFFFFF;
	position:static;
	margin-top:80px;
	padding:15px;
		

	min-width:700px;
	width:60%;
	margin-left:20%;
	margin-right:40%;

	bottom: -10px;
	border-radius:5px;
	box-shadow:0px 0px 1px 1px #5C5C5C;
	
}
#footerLoagin{
	
	background-color:#FFFFFF;
	position:static;
	margin-top:90px;
	padding:15px;
		
	width:60%;
	min-width:700px;
	margin-left:29%;
	margin-right:11%;

	bottom: -10px;
	border-radius:5px;
	box-shadow:0px 0px 1px 1px #5C5C5C;
	
}
#footerText{
	font-family: thaisanslite_r1 Vera Serif Bold,Serif;
	font-size:16px;
}
.iconAction:hover{

	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}
.iconAction{
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
	   transition: rotate 2s;
    -webkit-transition: rotate 2s; /* Safari 3.1 to 6.0 */

}

select{
	font-size:16px;
	padding:5px;
	border-radius:5px;
	border:none;
	box-shadow:0px 0px 0px 1px #323232;
	transition: box-shadow  1s;
    -webkit-transition: box-shadow 1s; /* Safari 3.1 to 6.0 */

}

select option{
	font-weight:100;
	font-size:14px;
	padding:1px;
	background-color:#FFFFFF;
	transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s; /* Safari 3.1 to 6.0 */

}

